{% extends 'base.html' %}

{% block content %}
<h1>Peliculas</h1>
<ul>
    {%for pelicula in peliculas %}
        <li>
             {% if task.important %}
                <strong>{{ pelicula.title }}</strong>
            {% else %}
                {{ pelicula.title }}
            {% endif %}

            <p>{{ pelicula.description }}</p>
            <p>{{ pelicula.user.username }}</p>
            <p>{{ pelicula.created }}</p>
            <p>{{ pelicula.datecompleted }}</p>

            <a href="{% url 'seleccionar' pelicula.id %}">Seleccionar</a>
        </li>
    {% empty %}
        <li>No hay peliculas disponibles.</li>
    {% endfor %}
   
</ul>

<a href ="{% url 'create_peliculas' %}">Crear nuevas peliculas </a>
{% endblock %}